<header>
  <h1>Museum Exhibitions in NYC</h1>
</header>

<div>
  <h3><a href="https://www.metmuseum.org/exhibitions/current-exhibitions">The Met</a></h3>
  <h3><a href="https://www.moma.org/calendar/exhibitions">MoMA</a></h3>
  <h3><a href="https://whitney.org/exhibitions">The Whitney</a></h3>
</div>