<header>
  <h1>Museum Exhibitions in NYC</h1>
</header>

<div>
  <!-- <h3><a href="https://www.metmuseum.org/exhibitions/current-exhibitions">The Met</a></h3> -->
  
  <h3><a href="https://whitney.org/exhibitions">The Whitney</a></h3>
  <% @whitney_headers.each do |header| %>
    <h4> <%= header[:title] %></h4>
    <p> <%= header[:dates] %></p>
  <% end %>

  <h3><a href="https://www.moma.org/calendar/exhibitions">MoMA</a></h3>
  <% @moma.each do |exhibition| %>
    <p> <%= exhibition %></p>
  <% end %>

</div>

<!-- exhibitions = parsed_page.css('div.exhibitions')
current_exhibitions = exhibitions.css('section').first
current_titles = current_exhibitions.css('div.list-item__header') -->
<!-- current_titles.first.css('h2.list-item__title').text
current_titles.first.css('h2.list-item__subtitle').text
current_titles[1].css('h2.list-item__title').text
current_titles[2].css('h2.list-item__title').text
current_titles[3].css('h2.list-item__title').text
current_titles[4].css('h2.list-item__title').text

 -->
<!-- current_titles.last.css('h2.list-item__title').text
current_titles.last.css('h2.list-item__subtitle').text


parsed_page.css('div.list-item__header')
first_title = titles.first
first_title.css('h2.list-item__title')
first_title.css('h2.list-item__title').text
first_title.css('h2.list-item__subtitle').text -->